<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/vs2015.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <title>@ViewData["Title"] - TeamServer</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="/img/logo.png" alt="RazorC2" class="navbar-logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"]?.ToString() == "Dashboard" ? "active" : "")" asp-area="" asp-page="/Index">
                                <i class="fas fa-tachometer-alt fa-fw me-1"></i>Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"]?.ToString() == "Payloads" ? "active" : "")" asp-area="" asp-page="/Payloads">
                                <i class="fas fa-skull-crossbones fa-fw me-1"></i>Payloads</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"]?.ToString() == "Configuration" ? "active" : "")" asp-area="" asp-page="/Configuration">
                                <i class="fas fa-cog fa-fw me-1"></i>Configuration
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted mt-auto py-0 app-footer">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <span>© @DateTime.UtcNow.Year - RazorC2</span>

                <span id="connection-status-span" class="text-small">
                    <i class="fas fa-spinner fa-spin text-muted me-1"></i>Initializing...
                </span>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>